#box1{
    height:450px;
    background-color: #ffcd9e;
    

}
#s1{
    font-family: arial;
    font-weight: 700;
    font-size: 30px;
    padding-top: 50px;
    padding-left: 80px;
}
#s2{
    font-family: arial;
    font-weight: 700;
    font-size: 30px;
    padding-left: 80px;
    padding-top: 0px;
    line-height: 0;
}
#s3{
    font-size: 15px;
    font-family: arial;
    padding-left: 80px;
    padding-top: 10px;
    color: #484848;
}
#s4{
    font-size: 15px;
    font-family: arial;
    padding-left: 80px;
    line-height: 0%;
    color: #484848;

}
#s5{
    font-size: 15px;
    font-family: arial;
    padding-left: 80px;
    color: #484848;
    line-height: 1;
}
#s6{
    font-style: arial;
    font-weight: 700;
    padding-left: 80px;
    line-height: 3;
    font-size: 20px;
} 
input[type="email"] {
    width: 250px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 80px;
    border-color: black;
    
} 
button[type="submit"] {
    width: 200px;
    height: 50px;
    background-color:black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    color:white;
}
#s7{
    padding-left: 100px;
    color:white;
    font-family: Arial;
    font-size: 15px;
}
#child{
    display: flex;
    justify-content: space-between;
}